*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


body{
    min-width: 360px;
}

.section--lg{
    width: 80vw;
    max-width: 1024px;
    margin: 0 auto;
}
.section--md{
    width: 80vw;
    max-width: 768px;
    margin: 0 auto;
}
.section--sm{
    width: 80vw;
    max-width: 600px;
    margin: 0 auto;
}

.index{
    width: 100%;
    height: 500px;
    background-color: beige;
    &:not(:first-child){
        margin-top: 60px;
    }
}