*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


.section--lg{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.section--md{
    width: 100%;
    max-width: 936px;
    margin: 0 auto;
}
.section--sm{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}